<p class="test-class">HELLO</p>

<%= link_to 'New Test', new_test_path %>

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        hello();
    })
</script>
